<div class="container-fluid py-2">
    <!-- segcion de presentacion  -->
    <div class="row">
        <div class="ms-3">
            <h2 class="mb-0 h2 font-weight-bolder">Bienvenido a los Comodatos</h2>
            <p class="mb-4">
            </p>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-sm mb-0 text-capitalize">Comodatos Totales</p>
                            <h4 class="mb-0">200</h4>
                        </div>
                        <div
                            class="icon icon-md icon-shape bg-gradient bg-danger shadow-dark shadow text-center border-radius-lg">
                            <i class="material-symbols-rounded opacity-10">weekend</i>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm">Aumento de: <span class="text-success font-weight-bolder">+55% </span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-sm mb-0 text-capitalize">Comodatos A</p>
                            <h4 class="mb-0">100</h4>
                        </div>
                        <div
                            class="icon icon-md icon-shape bg-gradient bg-primary shadow-dark shadow text-center border-radius-lg">
                            <i class="material-symbols-rounded opacity-10">person</i>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm">Mes pasado:<span class="text-success font-weight-bolder"> +3% </span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-sm mb-0 text-capitalize">Comodatos B</p>
                            <h4 class="mb-0">67</h4>
                        </div>
                        <div
                            class="icon icon-md icon-shape bg-gradient bg-secondary shadow-dark shadow text-center border-radius-lg">
                            <i class="material-symbols-rounded opacity-10">leaderboard</i>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm">Año pasado: <span class="text-danger font-weight-bolder">-2% </span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-sm mb-0 text-capitalize">Comodatos C</p>
                            <h4 class="mb-0">33</h4>
                        </div>
                        <div
                            class="icon icon-md icon-shape bg-gradient bg-success shadow-dark shadow text-center border-radius-lg">
                            <i class="material-symbols-rounded opacity-10">weekend</i>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm">Actual <span class="text-success font-weight-bolder">0% </span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- fin de la seccion de presentacion  -->
    <!-- seccion de comodatos registrados -->
     
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="tabla-Comodatos">
            <div class="card my-5">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div
                        class="bg-gradient-dark shadow-dark border-radius-lg pt-2 pb-2 px-3 d-flex justify-content-between align-items-center">
                        <p class="text-white text-uppercase m-0">Comodatos Registrados</p>
                        <button type="button"
                            class="btn btn-secondary btn-lg shadow-sm d-flex align-items-center mt-2 px-2"
                            (click)="abrirModalNuevoComodatoCompleto()">
                            <mat-icon class="me-1">add</mat-icon>Nuevo comodato
                        </button>
                    </div>
                </div>

                <div class="card-body px-0 pb-2 table-responsive"
                    style="overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
                    <!-- Filtro -->
                    <input type="text" [(ngModel)]="filtroComodatos" class="form-control mb-3 w-25 mx-3"
                        placeholder="Buscar...">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Responsable</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Estado</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Fecha Inicio</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Fecha Término</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Artículos</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-capitalize" *ngFor="let com of comodatosPaginados" 
                                (Click)="abrirModalEditarComodatoCompleto(com)">
                                <td>
                                    <div class="px-3 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{ nombresResponsables[com.Persona_idPersona ] }}</h6>
                                            <p class="text-xs text-secondary mb-0">{{ rutResponsables[com.Persona_idPersona ] }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2">{{ com.estadoComodato }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2">{{ com.fechaInicioComodato | date }}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2">{{ com.fechaTerminoComodatoD | date }}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2 text-truncate"
                                        style="max-width: 200px;">
                                       {{ nombresArticulos[com.idComodato!] }}


                                    </p>
                                </td>
                                <td class="align-middle text-start text-sm">
                                    <mat-icon>chevron_right</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer px-4 bg-white">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start px-0">
                            <mat-paginator class="bg-white" [length]="comodatoPaginator.length"
                                [pageSize]="comodatoPaginator.pageSize" [pageIndex]="comodatoPaginator.pageIndex"
                                [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                                (page)="onPageChangeComodatos($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>