<div class="container-fluid py-2">
  <!-- segcion de presentacion  -->
  <div class="row">
    <div class="ms-3">
      <h3 class="mb-0 h2 font-weight-bolder">Bienvenido al Dashboard</h3>
      <p class="mb-4">
        Resumen general de la aplicacion se pueden ver , los usuarios , los comodatos y articulos.
      </p>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize">Comodatos activos</p>
              <h4 class="mb-0">{{activos}}</h4>
            </div>
            <div class="icon icon-md icon-shape bg-gradient bg-danger shadow-dark shadow text-center border-radius-lg">
              <i class="material-symbols-rounded opacity-10">weekend</i>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm">Aumento de: <span class="text-success font-weight-bolder">+55% </span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize">Usuarios totales</p>
              <h4 class="mb-0">{{usuarioTotal}}</h4>
            </div>
            <div class="icon icon-md icon-shape bg-gradient bg-primary shadow-dark shadow text-center border-radius-lg">
              <i class="material-symbols-rounded opacity-10">person</i>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm">Mes pasado:<span class="text-success font-weight-bolder"> +3% </span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize">Articulos Totales</p>
              <h4 class="mb-0">{{articulosTotales}}</h4>
            </div>
            <div
              class="icon icon-md icon-shape bg-gradient bg-secondary shadow-dark shadow text-center border-radius-lg">
              <i class="material-symbols-rounded opacity-10">leaderboard</i>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm">Año pasado: <span class="text-danger font-weight-bolder">-2% </span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize">Articulos disponibles</p>
              <h4 class="mb-0">{{articulosDispo}}</h4>
            </div>
            <div class="icon icon-md icon-shape bg-gradient bg-success shadow-dark shadow text-center border-radius-lg">
              <i class="material-symbols-rounded opacity-10">weekend</i>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm">Actual <span class="text-success font-weight-bolder">0% </span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- seccion de graficos -->

  <div class="row">
    <!-- primer grafico -->
    <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <h6 class="mb-0">{{pieChart2D.title}}</h6>
          <p class="text-sm">{{pieChart2D.description}}</p>
        </div>
        <div class="card-body">
          
          <div *ngIf="totalEstados > 0; else sinDatos">
            <google-chart [type]="pieChart2D.type" [data]="pieChart2D.data" [columns]="pieChart2D.columns"
              [options]="pieChart2D.options" style="width: 100%; height: 300px;">
            </google-chart>
          </div>

          <hr class="dark horizontal">
          <div class="d-flex">
            <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
            <span>Actualizado: {{ today | date:'shortDate' }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- segundo grafico -->
    <div class="col-lg-6 mt-4 mb-3">
      <div class="card">
        <div class="card-header pb-0">
          <h6 class="mb-0">{{barChart.title}}</h6>
          <p class="text-sm ">{{barChart.description}}</p>
        </div>
        <div class="card-body">
          <div class="">
            <google-chart [type]="barChart.type" [data]="barChart.data"
              [columns]="barChart.columns" [options]="barChart.options"
              style="width: 100%; height: 300px;">
            </google-chart>
          </div>
          <hr class="dark horizontal">
          <div class="d-flex">
            <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
            <span>Actualizado: {{ today | date:'shortDate' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- seccion de lista usuarios -->

  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 " id="tabla-Como_Fin">
            <div class="card my-5">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-2 pb-2 px-3 d-flex justify-content-between align-items-center">
                        <p class="text-white text-uppercase m-0" >Comodatos Por Finalizar</p>
                    </div>
                </div>

                <div class="card-body px-0 pb-2 table-responsive">
                    <!-- Filtro -->
                    <input type="text" [(ngModel)]="filtroComo_Fin_C" class="form-control mb-3 w-25 mx-3"
                        placeholder="Buscar...">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Persona
                                </th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Fecha termino
                                </th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Dias Restantes
                                </th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                     Telefono 
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Muestra las categorias paginadas -->
                            <tr class="text-capitalize" *ngFor="let como of Comodato_F_Paginados"
                                >
                                <td>
                                    <div class="px-3 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">
                                                {{ personasPorId[como.Persona_idPersona]?.nomPersona || 'Desconocido' }}
                                                {{ personasPorId[como.Persona_idPersona]?.apPersona || '' }}
                                            </h6>
                                            <p class="text-xs text-secondary mb-0">
                                                {{ personasPorId[como.Persona_idPersona]?.emailPersona || 'No disponible' }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2 text-wrap">{{ como.fechaTerminoComodatoD | date:'dd/MM/yyyy' }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2 text-wrap">
                                        {{ getDiasRestantes(como.fechaTerminoComodatoD) }}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 py-2 text-wrap">
                                        {{ personasPorId[como.Persona_idPersona]?.telefPersona || 'No disponible' }}
                                    </p>
                                </td>
                                <td class="align-middle text-start text-sm">
                                    <mat-icon>chevron_right</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer px-4 bg-white">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start px-0">
                            <!-- propiedades del paginador -->
                            <mat-paginator class="bg-white" [length]="comodatoFPaginator.length"
                                [pageSize]="comodatoFPaginator.pageSize" [pageIndex]="comodatoFPaginator.pageIndex"
                                [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                                (page)="onPageChangeComo_Fin($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
  </div>


  <!-- seccion de footer -->
  <footer class="footer py-4  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          </ul>
        </div>
      </div>
    </div>
  </footer>

<ng-template #sinDatos>
  <div class="mensaje-vacio">
    No hay datos disponibles para mostrar el gráfico.
  </div>
</ng-template>